{% include head.html %}

<body>
	{% include header.html %}

	<section>
		<div class="container-fluid">
			<div id="content" class="inner">{{ content }}</div>
		</div>
	</section>

	<footer id="footer" class="inner">
		<div class="container-fluid">
			{% include footer.html %}
		</div>
	</footer>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
	crossorigin="anonymous"></script>
</body>

</html>