/*
 * FlightNode
 */

body {
	font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 15px;
	background-color: #4185D3;
}

p, li {
	line-height: 1.5em;
}

p {
	margin: 0px 0px 1.5em;
}

header {
	padding: 1em;
}

header h3 {
	text-shadow: 0px 1px 3px rgba(256, 256, 256, 0.5);
}



#content {
	background-color: #fff;
	padding: 1em;
	border-radius: 4px;
}

.meta {
	margin-bottom: 1em;
}

article {
	margin-bottom: 2em;
}


footer {
	margin-top: 1em;
	padding: 1em;
}

footer a {
	color: #C5CCD4;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

h1 {
	text-shadow: 0px 1px 1px rgba(0, 0, 128, 0.3);
}

h2 {
	border-bottom: 1px solid #C5CCD4;
}